name: quote_generator

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Rust Cache
        uses: swatinem/rust-cache@v2 # Speeds up subsequent runs by caching target/

      - name: Run Rust script
        run: cargo run --release

      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: 'Update README For imduchuyyy !!!'
          pathspec_error_handling: ignore
          push: true
