name: quote_generator

on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          default_author: github_actions
      - name: Install dependencies
        run: |
          python -m pip install requests
      - name: Get quote
        run: |
          python python.py
      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: 'Update README For Terry !!!'
          pathspec_error_handling: ignore
          push: true
